<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <header id="header-wrap">
        <nav class="navbar navbar-expand-md bg-inverse fixed-top">
            <div class="container">
                <a href="@Url.Action("Index", "Home")" class="navbar-brand"><img src="~/Content/fusion/img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="lni-menu"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix">
                        <li class="nav-item">
                            <a class="nav-link" href="/Home/Index">
                                Home
                            </a>
                            <a class="nav-link" href="/PdfUtils/Index">
                                PDF Utils
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        @RenderSection("Hero", false)

    </header>

    <div class="about-area section-padding bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-xs-12 wow fadeInRight animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
                    <div class="about-wrapper wow fadeInLeft animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
                        <div>
                            @RenderBody()
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-xs-12 info">
                    <img class="img-fluid" src="~/Content/fusion/img/about/img-1.png" alt="">
                </div>
            </div>
        </div>
    </div>


    @RenderSection("scripts", required: false)
</body>
</html>
