<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


    <header id="header-wrap">
        <nav class="navbar navbar-expand-md bg-inverse fixed-top scrolling-navbar">
            <div class="container">
                <a href="@Url.Action("Index", "Home")" class="navbar-brand"><img src="~/Content/fusion/img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="lni-menu"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix">
                        <li class="nav-item active">
                            <a class="nav-link" href="@Url.Action("Index", "Home")">
                                Home
                            </a>
                            <a class="nav-link" href="@Url.Action("Index", "PdfUtils")">
                                PDF Utils
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        @RenderSection("Hero", false)

    </header>

    @RenderBody()

    @RenderSection("scripts", required: false)
</body>
</html>
